<footer id="footWrapper" class="footer-minimal">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="centered margin-bottom-20">
                    <a href="/"><img alt="" src="/images/logo-hassanpromo-blanc.svg" class="logo-footer"></a>
                </div>
                <div class="centered">
                    <ul class="social-list minimal-socials">
                      {{ with .Site.GetPage "section" "contact" }}
                    <li>
                      <a href="{{ .Params.facebook }}" class="fa fa-facebook shape sm round" data-hover="" target="_blank"></a>
                    </li>
                    <li>
                      <a href="{{ .Params.youtube }}" class="fa fa-youtube shape sm round" data-hover="" target="_blank"></a>
                    </li>
                      {{ end }}
                </ul>
                </div>
                <div class="clearfix margin-bottom-25"></div>
                <!-- footer copyrights left cell -->
                <div class="copyrights centered font-15"><span>© 2017 Copyrights <b>Hassan Promo</b> . Tout les droits réservés.</span></div> <div class="copyrights centered font-15"> <span style="text-align: center;">Site web réalisé par <a href="http://www.linkomweb.com/" target="_blank" alt="Agence web" style="color: #e35961"><b>Linkom</b> <img class="logo-linkom ml-10" src="/images/logo-linkomweb.png" alt="Linkom, l'agence web!" width="20"></a></span></div>

                <div class="clearfix margin-bottom-15"></div>

                <!-- footer social links right cell start -->
                <div class="centered">
                    <ul class="footer-menu">
                        <li><a href="/">Accueil</a></li>
                        <li><a href="#apropos">A-propos</a></li>
                        <li><a href="#projets">Projets en cours</a></li>
                        <li><a href="#references">projets réalisés</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <!-- footer social links right cell end -->

            </div>
        </div>
    </div>

</footer>
