<footer id="footWrapper" class="footer-minimal">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="centered margin-bottom-20">
                    <a href="/"><img alt="" src="/images/logo-white.png"></a>
                </div>
                <div class="centered">
                    <ul class="social-list minimal-socials">
                    <li><a href="https://www.facebook.com/EURL-Hassan-PROMO-1807958839474639" class="fa fa-facebook shape sm round" data-hover="" target="_blank"></a></li>
                    <li><a href="https://www.youtube.com/channel/UC0PiPxn2S4AhcQwhua9rmOw" class="fa fa-youtube shape sm round" data-hover="" target="_blank"></a></li>
                </ul>
                </div>
                <div class="clearfix margin-bottom-25"></div>
                <!-- footer copyrights left cell -->
                <div class="copyrights centered font-15">© 2017 Copyrights <b>Hassan Promo</b> . Tout les droits réservés. Designed by <a href="http://www.linkomweb.com/" target="_blank" alt="Agence web" style="color: #e35961"><b>Linkom</b></a></div>

                <div class="clearfix margin-bottom-15"></div>

                <!-- footer social links right cell start -->
                <div class="centered">
                    <ul class="footer-menu">
                        <li><a href="/">Accueil</a></li>
                        <li><a href="#apropos">A-propos</a></li>
                        <li><a href="#projets">Projets en cours</a></li>
                        <li><a href="#references">projets réalisés</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <!-- footer social links right cell end -->

            </div>
        </div>
    </div>

</footer>
